= render 'shared/header'
.row-fluid.hidden-phone
  .span3.offset4.arrows-container
    = render 'arrows'
.row-fluid
  .span9.offset1
    .text-center
      .row-fluid.hidden-phone
        = render 'shared/adsense_horizontal_banner'
      .row-fluid
        .spinner
          = image_tag 'spinner.gif'
        %img.hero.img-polaroid{ src: @image_url }
.row-fluid
  .span10.offset2.margin-top
    .row-fluid
      = render 'shared/adsense_horizontal_banner'
    .row-fluid
      = render 'copy_text'