.container-fluid.image-container.margin-top
  .row-fluid
    .span10.margin-bottom.navigation
      %h1.span1
        Random Images
      .span1.offset5.arrow-left
        = image_tag 'arrow_left.png'

      .span1.offset1.arrow-right
        = image_tag 'arrow_right.png'
      .span3
        = render 'add_this'
  .row-fluid
    .ad.span2
      = render partial: 'adsense'
    .spinner
      = image_tag 'spinner.gif'
    .span8.text-center
      %img.hero.img-polaroid{ src: @image_url }
    .ad.span2
      = render partial: 'adsense'
  .row-fluid
    = render 'copy_text'